<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Logo" width="50" height="50" />
        Minha Empresa
      </a>



      <!-- Menu Selecionáveis -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Selecionável 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Selecionável 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Selecionável 3</a>
          </li>
        </ul>
      </div>

      <!-- Login com Foto -->
      <div class="d-flex align-items-center">
        <span class="me-2">Olá, Usuário!</span>
        <img
          src="assets/logo.png"
          alt="Foto do Usuário"
          class="rounded-circle"
          width="40"
          height="40"
        />
        <a class="btn btn-outline-primary ms-3" *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
      <a class="btn btn-outline-danger ms-3" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
</header>
