<header>
  <nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">

      <a [routerLink]="['/dashboard']" class="d-flex align-items-center custom-spacing">
        <!-- Foto da empresa -->
      <div class="d-flex">
          <img src="assets/logo.jpg" alt="Logo da Empresa" class="rounded-circle" width="40" height="40"/>
        </div>

        <!-- Título da empresa -->
        <span class="navbar-brand d-none d-lg-inline ms-lg-3">Encanto Apadrinhamento</span>
      </a>

      <!-- Login com Foto -->
      <div class="d-flex align-items-center dropdown ms-auto">
        <img src="assets/logo.jpg" alt="Foto do Usuário" class="rounded-circle" width="40" height="40" role="button"
          id="userMenu" data-bs-toggle="dropdown" />
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
          <li class="dropdown-item-text text-center">
            <strong>Olá, Usuário!</strong>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
            <a class="dropdown-item text-danger" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
