<header>
  <nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">

      <a (click)="navigateOnClick()">
        <div class="d-flex align-items-center">

          <!-- Icon da Empresa -->
          <fa-icon [icon]="faMusic"></fa-icon>

          <!-- Título da empresa -->
          <span class="navbar-brand ms-3 empresa-titulo">
            <span class="encanto">Encanto Apadrinhamento</span>

          </span>
        </div>
      </a>

      <!-- Login com Foto -->
      <div class="d-flex align-items-center dropdown ms-auto">
        <img src="assets/logo.jpg" alt="Foto do Usuário" class="rounded-circle" width="40" height="40" role="button"
          id="userMenu" data-bs-toggle="dropdown" />
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
          <li class="dropdown-item-text text-center">
            <strong *ngIf="isLoggedIn()">Olá, {{ user }}!</strong>
            <strong *ngIf="!isLoggedIn()">Olá, Usuário!</strong>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item text-success text-center" *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
            <a class="dropdown-item text-danger text-center" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
